svg {
    width: 10px;
    margin-left: 3px;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.dropdown-toggle {
    color: #000;
    cursor: pointer;
}

ul {
    list-style-type:none;
    padding-left: 0;
}

.dropdown-link {
    margin-bottom: 7px;
}

.dropdown-link a {
    text-decoration: none;
    color: #000;
}